ion-item{
    --background: #15D0B3;
    --color: #fff;
}

ion-button{
    --background: #fff;
    --color: #15D0B3;
}

ion-content{
    --background: #15D0B3;
    --color: #fff;
}

ion-row{
    --background: #15D0B3;
    --color: #fff;
}